# Testing 2021 dataset

In [89]:
import pandas as pd

In [101]:
df = pd.read_csv('data/zillow_data.csv')
df21 = pd.read_csv('data/zillow_data21.csv')
df22 = pd.read_csv('data/zillow_data22.csv')
df23 = pd.read_csv('data/zillow_data23.csv')

In [102]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [103]:
df_test = df21.iloc[:, 1:276].columns

In [104]:
df[df['RegionName']==33480]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
4723,72636,33480,Palm Beach,FL,Miami-Fort Lauderdale,Palm Beach,4724,958400.0,958100.0,957900.0,...,4506300,4526500,4560200,4583200,4588200,4609000,4626500,4661200,4692300,4686200

In [105]:
df2[df['RegionName']==33480]

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
0,102001,0,United States,Country,NaN,205484.0,205424.0,205430.0,205469.0,205564.0,...,518720.0,524231.0,530060.0,536056.0,542591.0,549721.0,557999.0,568115.0,579795.0,591859.0
1,394913,1,"New York, NY",Msa,NY,331521.0,330738.0,330226.0,329236.0,328584.0,...,834051.0,840944.0,847648.0,854095.0,860877.0,868160.0,876339.0,886359.0,898259.0,910815.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,318904.0,319471.0,319517.0,319766.0,319726.0,...,1206401.0,1217870.0,1230548.0,1243572.0,1257446.0,1272080.0,1291383.0,1320471.0,1354782.0,1387384.0
3,394463,3,"Chicago, IL",Msa,IL,256842.0,256750.0,256480.0,256414.0,256095.0,...,411222.0,414451.0,417696.0,420579.0,424430.0,428342.0,433401.0,438665.0,444860.0,450950.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,204441.0,204463.0,204717.0,205165.0,205674.0,...,432718.0,437153.0,442524.0,447171.0,453466.0,460574.0,470137.0,481001.0,493206.0,506255.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,142103.0,142870.0,143800.0,144734.0,145692.0,146543.0,147100.0,147715.0,148449.0,149972.0
907,753874,930,"Craig, CO",Msa,CO,119899.0,120042.0,120316.0,120755.0,120991.0,...,299627.0,301304.0,303221.0,305148.0,306919.0,308667.0,310898.0,313780.0,316867.0,319950.0
908,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,182965.0,183670.0,183789.0,183878.0,185541.0,187567.0,189961.0,191689.0,192486.0,193492.0
909,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,132176.0,132562.0,132941.0,133496.0,134295.0,134879.0,135480.0,135867.0,136653.0,137366.0
910,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,456993.0,459119.0,461423.0,463702.0,465001.0,466419.0,467777.0,469090.0,470270.0,471184.0

In [100]:
df22

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
0,102001,0,United States,Country,NaN,54385.0,54418.0,54461.0,54558.0,54658.0,...,136198.0,137638.0,139147.0,140684.0,142314.0,144063.0,146035.0,148334.0,150940.0,153656.0
1,394913,1,"New York, NY",Msa,NY,115578.0,115337.0,115181.0,114893.0,114723.0,...,322406.0,326037.0,329570.0,333032.0,336643.0,340490.0,344681.0,349699.0,355439.0,361557.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,122564.0,122702.0,122720.0,122802.0,122815.0,...,510725.0,515920.0,521456.0,527139.0,533280.0,539550.0,547693.0,559969.0,574561.0,588806.0
3,394463,3,"Chicago, IL",Msa,IL,89520.0,89537.0,89478.0,89568.0,89543.0,...,161124.0,162753.0,164380.0,165875.0,167694.0,169518.0,171789.0,174137.0,176880.0,179598.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,70217.0,70264.0,70380.0,70625.0,70883.0,...,186562.0,188596.0,191013.0,192988.0,195554.0,198409.0,202341.0,206871.0,211909.0,217148.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,49534.0,50030.0,50612.0,51168.0,51592.0,51923.0,52040.0,52211.0,52421.0,53010.0
907,753874,930,"Craig, CO",Msa,CO,42479.0,42635.0,42796.0,43059.0,43203.0,...,127085.0,127893.0,128787.0,129691.0,130595.0,131505.0,132635.0,134030.0,135550.0,137056.0
908,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,86095.0,87736.0,89067.0,89865.0,91191.0,92545.0,94518.0,96454.0,98207.0,100412.0
909,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,45723.0,45786.0,45809.0,46036.0,46313.0,46572.0,46787.0,46960.0,47289.0,47639.0
910,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,180057.0,181047.0,182051.0,182962.0,183373.0,183824.0,184365.0,185011.0,185626.0,186017.0